/*  CSS FOR THE BASIC LAYOUT OF THE SITE.                        */
/*  CSS FOR JQUERY AND BOOTSTRAP ELEMENTS ARE IN THEIR OWN FILES */
/*  Set black background color, white text and some padding      */
footer {
    background-color: #555;
    color: white;
    padding: 15px;

}

#main {
    background-color: lightgreen;
    width: 83%;
    float: right;
    height: 100vh;
}

body {
    background-color: #080808;
}

#top {
    background-color: #000000;
}

#navigation {
    width: 250px;
    position: fixed;
    float: right;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

#slider{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    max-height: 450px;
    height: auto;
    overflow: hidden;
}